<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body>
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <form class="needs-validation" method="post" enctype="multipart/form-data" th:action="@{/object_materials_add/{id}(id=${object})}" >
      <div style="display: flex; justify-content: space-between">
        <h4 class="mb-3">Матеріали</h4>
      </div>
      <div class="col-md-7 col-lg-8">
        <div class="row g-3">
          <div class="col-sm-12">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="material">
                <option th:each="material:${materials}" th:value="${material.getIdMaterial()}" th:text="${material.getName()}"></option>
              </select>
              <label class="form-label">Матеріал</label>
            </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Кількість</label>
            <input type="text" class="form-control" name="quantity"  >
          </div>

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>

        </div>
      </div>
<!--      </div>-->
    </form>




  </div>
</div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>
<script>
// <!--  function addFrame() {-->
// <!--    $.ajax({-->
// <!--      url: "/add_member/" + [[${crew.getIdCrew}]],-->
// <!--      method: "GET",-->
// <!--      success: function (response) {-->
// <!--        var galleryHtml = $(response).find('#frameDiv').html();-->
// <!--        $('#frameDiv').html(galleryHtml);-->
// <!--      },-->
// <!--      error: function (xhr, status, error) {-->
// <!--        console.error('Произошла ошибка:', error);-->
// <!--        alert('Произошла ошибка при выполнении запроса');-->
// <!--      }-->
// <!--    });-->
// <!--  }-->

function editMember(idMember) {

  $.ajax({
    url: "/edit_member/" + idMember,
    method: "GET",
    success: function (response) {
      window.location.href = "/edit_member/" + idMember;
    },
    error: function (xhr, status, error) {
      console.error('Произошла ошибка:', error);
      alert('Произошла ошибка при выполнении запроса');
    }
  });
}
</script>
</body>

</html>